{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Ar ToDos | Tasks
{% endblock title %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center text-center">
        <h1>Update Task</h1>

        <form method="POST" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary my-2" type="submit" value="Update" />
        </form>
    </div>
{% endblock content %}